
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
    Setting type to a minor third modular scale
    http://www.modularscale.com/?18&px&1.2&web&text
*/


html {
  font-size: 1.125em;/*18px*/
  line-height: 1.222em; /* 22px= 1 gridline*/
  padding: 1.222em 0.818em;/* 1.222em is 1 gridline and 18/22=0.818em */
  background-color: #e1a6b6;
  color: #101861;
  font-family: Calibri, Arial, sans-serif;
  background-image: url(http://basehold.it/i/22/#ede3e1);
  padding-left: 0.0825em;/*33px/400px=0.0825 */
  padding-right: 0.0825em;/*33px/400px=0.0825 */
}

h1 {
  font-size: 2.074em;/* 37.325px/18px=2.074 */
  line-height: 1.474em; /* 55/37.325=1.474em */
  color: #e12152;
  padding: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0.525em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.728em; /*31.104px/18px=1.728 */
  line-height: 1.4153em; /*44px/31.104px=1.415 */
  color: #6b8aca;
  padding: 0.1em;
  padding-left: 0.525em;
}

h3 {
  font-size: 1.44em; /*25.92px/18px=1.44 */
  line-height: 1.543em; /* 40px/25.92px=1.543 */
  color: #ae93b4;
  padding: 0.1em;
  padding-top: 0.1em;
  padding-left: 0.525em;
}
h4 {
  padding: 0.1em;
  padding-top: 0.1em;
  color: #fc4d7d;
  font-size: 1.2em;  /* 21.6px/ 18px=1.2em */
  line-height: 1.667em;/*36px/21.6px=1.667 */
  padding-left: 0.525em;
}

p1 {
  padding: 1em;
  color: #ede3e1;
  line-height: 1.23em;
}
p {
  padding: 1em;
  font-size: 1em;/* 18px/18px=1em */
  line-height: 1.222em; /*22px/18px= 1.222em */
}

header {
  background: url(../picture/2.jpg);
  background-repeat: repeat;
  text-align: left;
}

ul {
  padding: 0.611;
  padding-bottom: 0.311em;/* half gridline */
  color: #101861;
  font-size: 1em;
  line-height: 1.222em;  /*22px/18px=1.222 */
  padding-left: 0.525em;
}
li {
  padding: 0.611em;
  padding-bottom: 0.611em; /* half grid line 22px/2px = 11 */
  color: #101861;
  font-size: 1em;
  padding-left: 0.525em;
}
figure {
  padding-top: 0.2em;
  padding: 0.6em;
}

figcaption {
  font-size: 1.2em;
}


img {
  max-width: 100%;
}

video {
  width: 100%;
}
footer {
  padding: 0.5em 1em;
  font-size: 0.9em;
  position: relative;
  bottom: 0;
  left: 0;
  height: 1.666em;
  width: 100%;
  color: #ff4888;
}
/* ===== Layout STYLES ===== */

header {
  margin: 0 -0.916em;
  margin-top: -1.222em;
  padding: 0.916em;
  padding-bottom: 4em;
  height: 100%;
}

#page {
  padding: 1.222em 0.916em;/* 16.5px */

}
#header {
  pdding-top: 3.667em;/* 66px (button_gridline)/18px =3.667*/

}
#navigation {
  position: absolute;
}
.navigation li {
  display: inline-block;
}
.navigation {
  line-height: 1;
}
.navigation li a {
  display: block;
  background-color: #101861;
  color: #ede3e1;
  text-decoration: none;
  padding: 20%;
  padding-top: 0.722em;/* 13px/18px=.722em */
  padding-bottom: 0.722em;
}
.spotphoto {
  margin-left: -1.222em;
  margin-right: -1.222em;
}
.spotphoto figcaption {
  padding-left: 1.222em;
  padding-right: 1.222em;
}
.footer {
  padding: 1.012%;
  background-color: #ede3e1;
  border: 0.056em solid #ff4888;
  font-size: 0.625em;
}
.me {
  position: relative;
  left: 50%;
  margin-right: -2.778em;
}
.roger {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
}
.a {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
}
.b {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
}
.c {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
}
.d {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
}
.e {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
}

img,
video {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin: 1.5em;
}

/* ===== MODULAR STYLES ===== */

.content ul {
  list-style-type: disc;
  display: inline-block;
  margin: 0 auto;
  border: 0.056em solid #ccc;
}

.exception li {
  list-style-style: none;
}
.header ul {
  padding-left: 1em;
}
.video iframe {
  position: relative;
  padding: 1em 1em;
  width: 100%;
  height: 100%;
}
li:last-child {
  padding-bottom: 1em;
}
nav a:hover {
  text-decoration: underline;
}
/* ====== TABS STYLE =====*/
ul#tabs {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
  border-bottom: 0.063em solid #fcbacb;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
ul#tabs li {
  display: inline;
  margin: 0 0.167em;
}
ul#tabs a {
  text-decoration: none;
  padding: 0 0 0.167em;
  border-bottom: 0.25em solid #ff92b0;
  color: #fcbacb;
}
ul#tabs a#current {
  border-color: #101861;
  color: #6b8aca;
}
ul#tabs a:hover {
  border-color: #ef0041;
  color: #fc4d7d;
}
/* ===== State STYLES ===== */

#content {
  width: 53.33em;
  margin: 0 auto;
  background: #e1a6b4;
}
/*6:5*/
/*
6+5=11
320/11= 29.091
29.091*6=174.545
29.091*5=145.455
*/
@media screen and (min-width: 17.78em) {
  #content {
    width: 100%;
    background: #e1a6b4;
  }
  .me {
    position: relative;
    left: 10%;
    margin-right: -1.667em;
  }
  #primary {
    float: left;
    width: 55%;/*174.545/320= 54.545% */
  }
  #secondary {
    width: 45%; /*145.455/320=45.455%*/
    margin-left: 56.25%;/* 180/320=56.25% */
  }
  html {
    font-size: 0.8em;
  }
  footer {
    text-align: right;
    margin-top: 0.3em;
  }
}
/*6:5*/
/*
6+5=11
360/11= 32.727
32.727*6=196.363
32.727*5=163.635
*/
@media screen and (min-width: 20em) {
  #content {
    width: 100%;
    background: #e1a6b4;
  }
  html {
    font-size: 0.9em;
  }
  figure {
    padding-top: 0.2em;
    padding: 0.9em;
  }
  footer {
    text-align: center;
    margin-top: 0.3em;
  }
  #primary {
    float: left;
    width: 55.545%;/*196.363/360= 54.545% */
  }
  #secondary {
    width: 45.455%; /*163.635/360=45.455%*/
    margin-left: 56.25%;/*202.5/360=56.25% */
  }
}
/*6:5*/
/*
6+5=11
768/11= 69.818
69.818*6=418.908
69.818*5=348.09
*/
@media screen and (min-width: 42.67em) {
  #content {
    width: 100%;
    background: #e1a6b4;
  }
  .me {
    position: relative;
    left: 50%;
    margin-right: -2.778em;
  }
  header {
    padding-bottom: -1.222em;
  }
  html {
    font-size: 1em;
  }
  footer {
    text-align: center;
    margin-top: 0.5em;
  }
  #primary {
    float: left;
    width: 54.545%;/*418.908/768= 54.545% */
  }
  #secondary {
    width: 45.455%; /*145.455/768=45.455% */
    margin-left: 56.25%;/*432/768=56.25% */
  }
}
/*6:5*/
/*
6+5=11
800/11= 72.727
72.727*6=436.363
72.727*5=363.635
*/
@media screen and (min-width: 44.44em) {
  #content {
    width: 100%;
    background: #e1a6b4;
  }
  footer {
    text-align: center;
  }
  html {
    font-size: 1.125em;
  }
  #primary {
    float: left;
    width: 54.545%;/*436/800= 54.545% */
  }
  #secondary {
    width: 45.455%; /*363.635/800=45.455% */
    margin-left: 56.25%;/*450/800=56.25% */
  }
}
/*6:5*/
/*
6+5=11
1280/11= 116.363
116.363*6=698.181
116.363*5=581.818
*/
@media only screen and (min-width: 71.11em) {
  #content {
    width: 100%;
    background: #e1a6b4;
  }
  footer {
    text-align: center;
    margin-top: 0.6em;
  }
  #primary {
    float: left;
    width: 54.545%;/*698.181/1280= 54.545% */
  }
  #secondary {
    width: 45.455%; /*581.818/1280=45.455%*/
    margin-left: 56.25%; /*720/1280=56.25% */
  }
}
